# Environment Variables
# Copy file ini menjadi .env dan sesuaikan nilainya

# Database PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/seleksi_karyawan_sdi?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="seleksi-karyawan-sdi-secret-key-2026-nasional-pasim"

# Email SMTP (Gmail)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="PT. Solusi Datamart Indonesia <your-email@gmail.com>"
